@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;0,900;1,300&display=swap');

.menu .menu_titulo{
    font-family: 'Nunito', sans-serif !important;
    font-weight: 900 !important;
}

.menu_user{
    font-family: 'Nunito', sans-serif !important;
}